body {
  font-family: "Montserrat", sans-serif;
}
.searchCity {
  position: relative;
  right: -180px;
}

.dateToday {
  margin: 0;
  text-align: center;
  font-size: 10px;
  color: #686354;
}
.card {
  margin-top: 10px;
  max-width: 400px;
  padding: 30px 60px;
  border: 1px solid rgba(232, 117, 50, 0.2);
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2);
  background: radial-gradient(
    circle at 10% 20%,
    rgb(147, 230, 241) 0%,
    rgb(145, 192, 241) 45.5%
  );
}
h1 {
  text-align: center;
  color: #3fc5f0;
  padding: 10px 10px;
  margin: 0 auto;
  background-color: #128494;
  line-height: 30px;
  font-size: 48px;
  font-weight: 800;
}
h2 {
  text-align: center;
  color: #128494;
  padding: 10px 5px;
  font-size: 42px;
  margin: 0;
  font-weight: 700;
}
.celsius {
  font-size: 30px;
  color: #128494;
}
celsius:hover {
  color: #3f7a9c;
}
.fahrenheit {
  font-size: 30px;
  color: #128494;
}
fahrenheit:hover {
  color: #3f7a9c;
}
h3 {
  text-align: center;
  padding: 5px 0px;
  font-size: 15px;
  color: #686354;
  font-weight: 600;
}
p {
  text-align: right;
  padding: 5px 5px;
  font-size: 12px;
  color: #686354;
}
.dailyValues {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.values {
  display: inline;
  font-size: 12px;
  color: #3f7a9c;
  margin: 0 5px;
  padding: 5px 5px;
  font-weight: 500;
}
#date-today {
  text-align: center;
  padding: 5px 5px;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 12px;
  color: #686354;
}
